<%= image_tag "sunset.JPG" %>
<h1><%= @club.name %></h1>

<p>
  <strong>Description:</strong>
  <%= @club.description %>
</p>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
