<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/"><%= t('team_selecta') %></a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">  
      <li> <%= link_to(t('clubs'), clubs_path )%> </li>
      <li> <%= link_to(t('events'), events_path )%> </li>
      <li><a href="#"><%= t('support') %></a></li> 
      <li class="has-form show-for-small">
        <% if user_signed_in? %>
          <%= link_to(t('logout'), destroy_user_session_path, :method => :delete, :class => "button") %>
        <% else %>
          <a class="button" href="#" data-reveal-id="login"><%= t('login') %></a>
        <% end %>
      </li>
    </ul>
  </section>
  <section class="top-bar-section hide-for-small">
    <ul class="right">  
      <li class="has-form">
    	  <% if user_signed_in? %>
          <%= link_to(t('logout'), destroy_user_session_path, :method => :delete, :class => "button") %>
        <% else %>
          <a class="button" href="#" data-reveal-id="login"><%= t('login') %></a>
	    	<% end %>
      </li>
    </ul>
  </section>
</nav>
<% if !user_signed_in? %>
<div id="login" class="reveal-modal">
  <%= link_to user_omniauth_authorize_path(:facebook) do %>
    <%= image_tag "fb_login.png" %>
  <% end %>
  <div class="sign-in panel">
  	<%= form_for(user_resource, :as => user_resource_name, :url => session_path(user_resource_name)) do |f| %>
    <%= f.label :email %>
  	<%= f.email_field :email, :placeholder => t('email'), :autofocus => true %>
    <%= f.label :password %>
  	<%= f.password_field :password, :placeholder => t('password') %>
  		<div>
  	<% if devise_mapping.rememberable? -%>
  	   <%= f.check_box :remember_me %> <%= f.label :remember_me %>
  	<% end -%>
  	<%= f.submit t('login'), :class => 'button' %></div>
  	<% end %>
  </div>
  <h3><%= t('or') %></h3>
  <div class="sign-up panel">
    <%= form_for(user_resource, :as => user_resource_name, :url => registration_path(user_resource_name)) do |f| %>

      <div><%= f.label :email %>
      <%= f.email_field :email, :placeholder => t('email') %></div>

      <div><%= f.label :password %>
      <%= f.password_field :password, :placeholder => t('password') %></div>

      <div><%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, :placeholder => t('password') %></div>

      <div><%= f.submit t('sign_up'), :class => 'button' %></div>
    <% end %>
  </div>

</div>
<% end %>