<%= stylesheet_link_tag "home" %>
<div class="container">
  <div class="row">
    <div class="large-5 columns">
      <%= image_tag "TS_Logo_trnsp.png" %>
    </div>
    <div class="large-7 columns">
      <p class="lead"><%=t('select') %></p>
      <%= image_tag "iphone-half-field.png" %>
    </div>
  </div>
	<div class="soon"><h1><%=t('coming_soon') %></h1></div>
</div>