<div class="event-header" style="background-image:url(<%= image_url "trials.jpg" %>)"></div>
<div class="row">
  <div class="large-8 columns">
    <div style="event-title">
      <h2 id="event-name"><%= @event.name %></h2>
      <h6 class="subheader">by <%= @event.club.name %></h6>
    </div>
    <div>
     <div>Time</div>
      <div><%= @event.time %></div>
    </div>
    <div>
      <div>Location</div>
      <div><%= @event.location %></div>
    </div>
    <p>
      <%= @event.description %>
    </p>
  </div>
  <div class="large-4 columns">
    <ul class="small-block-grid-3">
    <% @event.guests.each do |guest| %>
      <li>
        <a href="#"><img src="http://placehold.it/120x120" alt="@guest.name"/></a>
      </li>
    <% end %>
    </ul>
  </div>
</div>
